# Syntax: https://git-scm.com/docs/gitignore

# General
.DS_Store
*~
.vscode
.env

# Database
*.sqlite3

# Python Bytecode-Dateien
**/*.pyc
**/*.pyo
**/*.pyd
__pycache__/
*.log

# Django
staticfiles/
src/server/venv/
src/server/test_logs/

# Node/Frontend
node_modules/
dist/
